{% extends "base.html" %}

{% block main_content %}

  <form class="register" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.user_id.label }}
        {{ form.user_id() }}
        {% for error in form.user_id.errors %}
            {{ error }}
        {% endfor %}
    
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}

        {{ form.confirm_password.label }}
        {{ form.confirm_password() }}
        {% for error in form.confirm_password.errors %}
            {{ error }}
        {% endfor %}

        {{ form.submit() }}
    </form>

{% endblock %}